:root {
  --clr-blue-900: hsl(233, 54%, 16%);
  --clr-blue-600: hsl(234, 25%, 52%);

  --clr-pink-600: hsl(341, 92%, 62%);
  --clr-pink-300: hsl(341, 100%, 83%);

  --clr-grey: hsl(232, 10%, 56%);
  --clr-white: hsl(0, 0%, 100%);

  --gradient-pink: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-purple: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 800;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  width: 5rem;
  transition: opacity 150ms ease-in-out;
}

@media (width >= 75em) {
  .logo {
    width: 6.9375rem;
  }
}

.logo:hover {
  opacity: 0.75;
}

a {
  text-decoration: none;
}

p {
  color: var(--clr-grey);
  line-height: 1.5;
  max-width: 35ch;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

main {
  overflow-x: clip;
}
